html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	  vertical-align: baseline;
	  font-family: inherit;
	  font-weight: inherit;
	  font-style: inherit;
	  font-size: 100%;
	  outline: 0;
}
/* remember to define focus styles! */
:focus {
	  outline: 0;
}

/* Brit's Fix */

* {
    box-sizing: border-box;
    max-width: 100%;
	  padding: 0;
	  margin: 0;
    border: 1px solid grey;
}

/* General Styles */

html, body {
    width: 100%;
}

html {
    font-size: 62.5%;
    font-family: "Source Sans Pro", serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background: #fbfffb;
    color: #4f4f4f;
}

h1, h2, h3 {
    font-family: "Oxygen";
    text-align: center;
}

a, button {
    color: #266035;
}

a {
    text-decoration: none;
}
/* Header Styles */

header {
    display: flex;
    justify-content: space-between;
    background: rgba(255,255,255,0.8);
    position: fixed;
    z-index: 999;
    top: 0;
}

.logo-container {
    width: 10%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 60%;
}

nav {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-around;
    font-size: 2.4rem;
}
/* Main Styles */

#home {
    height: 80vh;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

h1 {
    color: #fbfffb;
    font-size: 6rem;
}


/* About Styles */

#about {
    height: 80vh;
    background-image: url('../images/about-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#about div {
    width: 50%;
}

#about h2 {
    color: #266035;
}
/* Shop Styles */

.shop-container {
    display: flex;
}
.shop-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
}

.image1 {
    background-image: url('../images/succulants.jpg')
}

.image2 {
    background-image: url('../images/cacti.jpg')
}
.image3 {
    background-image: url('../images/tropicals.jpg')
}

.shop-text {
    width: 50%;
}

.shop-text div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Footer Styles */

#contact {
    background: #266035;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

#contact .contact-text a {
    color: white;
}

#contact h2, #contact .copyright {
    width: 100%;
}
.contact-text, .contact-image {
    width: 50%;
}

/* Adding Responsiveness */
/* Tablet Styles */

@media(max-width: 800px){
}

/* Phone Styles */

@media(max-width:500px){
}
